<launch> 
    <!-- <include file="$(find aev_controller)/launch/webserver.launch" />  -->
    <include file="$(find lidar_localizer)/urdf/urdf.launch" />   
  
 
    <!-- <include file="$(find aev_controller)/launch/arduino_serail.launch" /> -->
    <!-- <include file="$(find aev_controller)/launch/web_image.launch" /> -->
    <!-- <include file="$(find ouster_ros)/launch/ouster.launch" /> -->
    
    <node name="aev_controller" pkg="aev_controller" type="aev_controller.py" output="screen"></node>
    <!-- <node name="sub" pkg="aev_controller" type="sub.py" output="screen"></node> -->
    

</launch>

